.uc-main-header {
    height: 4rem;
    display: flex;
    cursor: pointer;
}

.uc-title {
    line-height: 4rem;
    font-size: x-large;
    font-weight: bold;
    padding-left: 0.5rem;
}

.uc-main-header img {
    padding: 0.5rem;
}