@import "base-values";

.uc-main-header {
  height: $header-height;
  display: flex;
  cursor: pointer;
  padding: $distance-md 0 $distance-lg 0;

  .uc-title {
    line-height: $header-height;
    font-size: x-large;
    font-weight: bold;
    padding-left: $distance-lg;
  }
}
