<div class="uc-info-container">
  <div class="uc-score-info">
    <div class="uc-score">Max Score: {{ maxScore }}</div>
    <div class="uc-edit-button" (click)="editMaxScore()">
      <mat-icon>edit</mat-icon>
    </div>
  </div>
  <div class="uc-edit-button" (click)="undoLastScores()">
    <mat-icon>undo</mat-icon>
  </div>
  <div class="uc-info-button" (click)="openStatistics()">
    <mat-icon>info</mat-icon>
  </div>
</div>

<div class="uc-table uc-space-bottom">
  <div class="uc-table-row uc-table-row-players">
    <div
      class="uc-table-cell uc-table-cell-player"
      *ngFor="let player of players"
      [ngClass]="{ 'uc-current-shuffler-cell': shufflePlayer === player }"
    >
      {{ player.slice(0, 1) }}{{ player.slice(-1) }}
    </div>
  </div>
  <div class="uc-seperator"></div>
  <div class="uc-scoreboard">
    <div
      class="uc-table-row"
      *ngFor="let e of [].constructor(currentRound); let round = index"
    >
      <div
        class="uc-table-cell"
        *ngFor="let player of players"
        [ngClass]="{ 'uc-winner-cell': scores[player][round].won }"
      >
        {{ scores[player][round].sumScore }}
      </div>
    </div>
    <div class="uc-table-row">
      <div class="uc-table-cell" *ngFor="let player of players">
        <input type="number" [formControl]="$any(getPlayerControl(player))" />
      </div>
    </div>
  </div>
</div>

<div *ngIf="!this.isFinished" class="uc-default-button" (click)="addScores()">
  Save
</div>
