@import "../../../stylings.scss";

.uc-score-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uc-score {
  font-weight: bold;
}

.uc-info-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.uc-edit-button {
  margin-left: 1rem;
}

.uc-winner-cell {
  color: $base-green;
  font-weight: bold;
  text-decoration: underline;
}

.uc-current-shuffler-cell {
  text-decoration: underline;
}

.uc-table {
  display: flex;
  flex-direction: column;

  .uc-table-row {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;

    .uc-table-cell {
      width: 35px;
      margin: 0;
      text-align: right;
      padding: 5px;
      border-radius: 3px;

      input {
        width: 100%;
      }
    }
  }

  .uc-table-row-players {
    :nth-child(n) {
      background-color: $base-red;
    }
    :nth-child(2n) {
      background-color: $base-yellow;
    }
    :nth-child(3n) {
      background-color: $base-green;
    }
    :nth-child(4n) {
      background-color: $base-blue;
    }

    .uc-table-cell-player {
      color: black;
      font-weight: bold;
      text-align: center;
    }
  }

  .uc-scoreboard {
    max-height: 60vh;
    overflow-y: scroll;
  }
}

.uc-button-container {
  margin-top: 1rem;
}

.uc-seperator {
  width: 100%;
  border-bottom: 1px solid $base-yellow;
}
