@import "base-values";

.uc-info-container {
  margin-bottom: $distance-lg;
  display: flex;
  gap: $distance-md;
  align-items: center;
  justify-content: space-between;

  .uc-score-info {
    display: flex;
    align-items: center;
    gap: $distance-lg;

    .uc-score {
      font-weight: bold;

      input {
        width: 2.5rem;
        text-align: end;
      }
    }
  }

  .uc-info-button-container {
    display: flex;
    gap: $distance-md;
  }
}

.uc-winner-cell {
  color: $base-green;
  font-weight: bold;
  text-decoration: underline;
}

.uc-table {
  display: flex;
  flex-direction: column;

  .uc-table-row {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;

    .uc-table-cell {
      width: 45px;
      text-align: right;
      padding: 5px;
      border-radius: $default-border-radius;

      input {
        width: 100%;
        text-align: end;
      }
    }
  }

  .uc-table-row-players {
    :nth-child(4n + 1) {
      background-color: $base-red;
    }
    :nth-child(4n + 2) {
      background-color: $base-yellow;
    }
    :nth-child(4n + 3) {
      background-color: $base-green;
    }
    :nth-child(4n) {
      background-color: $base-blue;
    }

    .uc-table-cell-player {
      color: $color-text-dark;
      font-weight: bold;
      text-align: center;
    }
  }

  .uc-scoreboard {
    max-height: 60vh;
    overflow-y: scroll;
  }
}

.uc-button-container {
  margin-top: $distance-lg;
}

.uc-seperator {
  width: 100%;
  border-bottom: 1px solid $base-yellow;
}
