<table>
  <thead>
    <tr class="uc-table-header-row">
      <th *ngFor="let player of players">
        {{ shufflePlayer === player ? "• " + player : player }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of [].constructor(rounds); let round = index">
      <td *ngFor="let player of players">
        {{ scores[player][round] }}
      </td>
    </tr>
    <tr>
      <td *ngFor="let player of players">
        <input
          type="number"
          class="uc-score-counter"
          [formControl]="$any(getPlayerControl(player))"
        />
      </td>
    </tr>
  </tbody>
</table>
<div class="uc-button-container" *ngIf="!this.isFinished">
  <div class="uc-default-button" (click)="addScores()">Save</div>
</div>
