.uc-table-cell {
    width: 100px;
    text-align: left;
    font-size: large;
    padding: 0.5rem;
}

.uc-maxscore-container {
    font-size: large;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.uc-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.uc-theader {
    display: flex;
    font-weight: bold;
}
