.uc-score-input {
    width: 100px;
}

.uc-table-row {
    display: flex;
}

.uc-table-cell {
    width: 100px;
    text-align: left;
    font-size: large;
    padding: 0.5rem;
}

.uc-score-counter {
    font-size: large;
    width: 80px;
    text-align: right;
}
