$base-red: #d72600; // red
$base-yellow: #ecd407; // yellow
$base-green: #379711; // green
$base-blue: #0956bf; // blue
$color-text-dark: #000000;
$color-text-light: #d7d7d7;

$main-background: #121212;

$distance-sm: 0.25rem;
$distance-md: 0.5rem;
$distance-lg: 1rem;

$header-height: 3rem;

$default-border-radius: 3px;
