<div class="uc-main-container">
  <div>Welcome to Uno Counter. Please select your players.</div>

  <form class="uc-add-player-form">
    <label>Halve points at full hundreds?</label>
    <input type="checkbox" [formControl]="halveControl" />
  </form>
  <form class="uc-add-player-form">
    <label>Max Score</label>
    <input type="number" [formControl]="scoreControl" />
  </form>
  <div *ngFor="let player of selectedPlayers">
    {{ player.name }}
  </div>
  <form class="uc-add-player-form">
    <input type="text" placeholder="Name" [formControl]="addPlayerControl" />
    <div class="uc-default-button" (click)="addPlayer()">Add player</div>
  </form>

  <div class="uc-accent-button" (click)="startGame()">Start Game</div>
</div>
