@import "../../../stylings.scss";

.uc-rules {
  border: 2px solid $base-yellow;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 1rem;
}

.uc-rules-form * {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uc-add-player-form {
  input {
    width: calc(100% - 10px);
    margin-bottom: 1rem;
  }
}

.uc-players-table {
  border: 2px solid $base-yellow;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 1rem;
}

.uc-players {
  :nth-child(n) {
    color: $base-red;
  }
  :nth-child(2n) {
    color: $base-yellow;
  }
  :nth-child(3n) {
    color: $base-green;
  }
  :nth-child(4n) {
    color: $base-blue;
  }
}

.uc-player {
  padding: 5px 0;
}

input {
  height: 30px;
  padding: 5px;
}

h4 {
  text-decoration: underline;
  padding-bottom: 5px;
}
