<div class="uc-main-landing-container">
  <div class="uc-card">
    <h2 class="uc-underline">Rules</h2>

    <div class="uc-rules-form">
      <div>
        <label>Halve points at full hundreds?</label>
        <input type="checkbox" [formControl]="halveControl" />
      </div>
      <div>
        <label>Max Score</label>

        <input
          type="number"
          [formControl]="scoreControl"
          placeholder="Max. Score"
        />
      </div>
    </div>
  </div>

  <div class="uc-card">
    <h2 class="uc-underline">Players: {{ selectedPlayers.length }}</h2>

    @if (!selectedPlayers.length) {
    <div class="uc-player">Add players below</div>
    }
    <div class="uc-players">
      <div class="uc-player" *ngFor="let player of selectedPlayers">
        {{ player }}
      </div>
    </div>
  </div>

  <form class="uc-add-player-form uc-space-bottom">
    <input
      #addPlayerInput
      type="text"
      placeholder="Name"
      [formControl]="addPlayerControl"
    />
    <div class="uc-default-button" (click)="addPlayer()">Add player</div>
  </form>

  <div class="uc-accent-button uc-space-bottom" (click)="startGame()">
    Start Game
  </div>
  <div
    *ngIf="recentGameExists"
    class="uc-resume-game-form uc-accent-green-button uc-space-bottom"
    (click)="resumeGame()"
  >
    Resume Game
  </div>
</div>
