@import "base-values";

.uc-main-landing-container {
  display: flex;
  flex-direction: column;
}

.uc-rules-form {
  display: flex;
  flex-direction: column;

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input {
    padding: $distance-md;
    width: 3rem;
    text-align: end;
  }
}

.uc-add-player-form {
  input {
    width: 100%;
    margin-bottom: $distance-lg;
  }
}

.uc-card {
  border: 1px solid $base-yellow;
  border-radius: 8px;
  padding: $distance-md;
  margin-bottom: $distance-lg;
}

.uc-players {
  :nth-child(4n + 1) {
    color: $base-red;
  }
  :nth-child(4n + 2) {
    color: $base-yellow;
  }
  :nth-child(4n + 3) {
    color: $base-green;
  }
  :nth-child(4n) {
    color: $base-blue;
  }
}

.uc-player {
  padding: $distance-md 0;
}
