<div class="uc-rules">
  <h4>Rules</h4>

  <form class="uc-rules-form">
    <div>
      <label>Halve points at full hundreds?</label>
      <input type="checkbox" [formControl]="halveControl" />
    </div>
    <div>
      <input
        type="number"
        [formControl]="scoreControl"
        placeholder="Max. Score"
      />
      <label>Max Score</label>
    </div>
  </form>
</div>

<div class="uc-players-table">
  <h4>Players: {{ selectedPlayers.length }}</h4>

  <div class="uc-player" *ngIf="selectedPlayers.length == 0">
    Add players below
  </div>

  <div class="uc-players">
    <div class="uc-player" *ngFor="let player of selectedPlayers">
      {{ player }}
    </div>
  </div>
</div>

<form class="uc-add-player-form">
  <input type="text" placeholder="Name" [formControl]="addPlayerControl" />
  <div class="uc-default-button" (click)="addPlayer()">Add player</div>
</form>

<div class="uc-accent-button" (click)="startGame()">Start Game</div>
