@import "./stylings.scss";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(215, 215, 215);
}

.uc-default-button {
  border-radius: 8px;
  padding: 0.5rem;
  background-color: $base-yellow;
  color: black;
  text-align: center;
  cursor: pointer;
}

.uc-accent-button {
  border-radius: 8px;
  padding: 0.5rem;
  background-color: $base-red;
  color: black;
  text-align: center;
  cursor: pointer;
}

html,
body {
  height: 100%;
  max-width: 500px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #121212;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  outline-style: none;
  border: none;
  border-bottom: 1px solid $base-yellow;
  background-color: #121212;
  font-weight: bold;
}
