@import "./stylings.scss";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(215, 215, 215);
  font-size: 1.1rem;
}

.uc-default-button {
  border-radius: 8px;
  padding: 0.5rem;
  background-color: $base-yellow;
  color: black;
  text-align: center;
  cursor: pointer;
}

.uc-accent-button {
  border-radius: 8px;
  padding: 0.5rem;
  background-color: $base-red;
  color: black;
  text-align: center;
  cursor: pointer;
}

.uc-accent-green-button {
  border-radius: 8px;
  padding: 0.5rem;
  background-color: $base-green;
  color: black;
  text-align: center;
  cursor: pointer;
}

.uc-info-button {
  border-radius: 8px;
  background-color: $base-green;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    overflow: unset;
  }
}

.uc-edit-button {
  border-radius: 8px;
  background-color: $base-yellow;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    overflow: unset;
  }
}

.uc-space-bottom {
  margin-bottom: 1rem;
}

html,
body {
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $main-background;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  outline-style: none;
  border: none;
  border-bottom: 1px solid $base-yellow;
  background-color: $main-background;
  font-weight: bold;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}
